1. CRISP-DM 框架

2. get data from web (train.csv, test.csv)

3. modify the code to use RFE, SelectKBest, optuna to select best features

4. confusion matrix . accuracy

5. input  other best code for reference to improve your code

6. deploy -> 上傳 kaggle
分析範例 : https://ithelp.ithome.com.tw/articles/10272521?sc=rss.iron

https://www.kaggle.com/code/huichenhuang/titanic-competition-100-score/edit

https://www.kaggle.com/competitions/titanic/leaderboard#

In [4]:
import numpy as np
import pandas as pd

import os
import re
import warnings
print(os.listdir("./"))

['0.png', '0_A7MUqyCLvZDcHkfM.jpg', '1080601-0623Django系統開發實作DM.pdf', '11300077-1.jpg', '2.png', '2023_科技新秀大賽競賽介紹_0906_V1.pdf', '5113056004_hw1 (1).ipynb', '5113056004_hw1.ipynb', '5113056004_hw2 (1).ipynb', '5113056004_hw2 (2).ipynb', '5113056004_hw2.ipynb', '59-Submission-1.pdf', 'AIOT_class1-master', 'AIOT_class1-master.zip', 'app.py', 'BostonHousing(initial_Template).ipynb', 'cert_S113017370.pdf', 'circle.png', 'Cymbal Product Analysis - 複製.json', 'Cymbal Product Analysis.json', 'desktop.ini', 'Gmail - 【徵求科技好手】觀光署「玩轉科技交流站」邀您來解題，報名至10_11(五)截止！.pdf', 'heatmap.png', 'hw2.png', 'image-analysis - 複製.ipynb', 'image-analysis.ipynb', 'inventory.py', 'Learning-Tableau-Logo.png', 'messageImage_1729015519704.jpg', 'Monthly_Record_1005.pptx', 'prompt.ipynb', 'Python-Logo.png', 'quicklab.ipynb', 'subtitles_48b69216-2b69-4543-a712-ace24c7ab7b0.txt', 'tagline-generator - 複製.ipynb', 'tagline-generator.ipynb', 'titanic-competition-100-score.ipynb', 'uIsTKZsJPHUuaiVJn+YVKbqoxWFAa7G6kTHtm9_t2HA=.png', 'v0.jpg', 'v1.jpg', 'v2.jpg', 'v3.jpg', 'w6_assignment (1).ipynb', 'w6_assignment (2).ipynb', 'w6_assignment.ipynb', '工作表 1.png', '工作表 2.png', '第三屆_三菱智能CNC_APP創意開發競賽簡章v2_20231031.doc', '螢幕擷取畫面 2024-10-17 020636.png']

In [9]:
import io
import requests
url="https://github.com/thisisjasonjafari/my-datascientise-handcode/raw/master/005-datavisualization/titanic.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))

test_data_with_labels = c
test_data = pd.read_csv('C:\\中興大學\\物聯網應用與資料分析\\class_vscode\\test.csv')

In [10]:
test_data_with_labels.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [11]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [12]:
warnings.filterwarnings('ignore')

In [13]:
for i, name in enumerate(test_data_with_labels['name']):
    if '"' in name:
        test_data_with_labels['name'][i] = re.sub('"', '', name)
        
for i, name in enumerate(test_data['Name']):
    if '"' in name:
        test_data['Name'][i] = re.sub('"', '', name)

In [14]:
survived = []

for name in test_data['Name']:
    survived.append(int(test_data_with_labels.loc[test_data_with_labels['name'] == name]['survived'].values[-1]))

In [17]:
submission = pd.read_csv('C:\\中興大學\\物聯網應用與資料分析\\class_vscode\\gender_submission.csv')
submission['Survived'] = survived
submission.to_csv('submission.csv', index=False)

In [18]:
submission.to_csv('C:\\中興大學\\物聯網應用與資料分析\\class_vscode\\submission.csv', index=False)

In [16]:
submission.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1